.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.wrapper-odd {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  background-color: #22577E;
}

.section-heading {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: #5584AC;
  border-bottom: 2px solid #FAFFAF;
  z-index: 1;
}

.btn-special-animation {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  display: block;
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 110%;
  height: 110%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.btn-special-animation:hover {
  color: #22577E;
}

.question {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  background: none;
  border: none;
  color: #ebecf2;
  font-size: 28px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  cursor: pointer;
  z-index: 10;
}

.question:hover ~ .header__photo-text {
  -webkit-clip-path: circle(120% at 50% 90%);
          clip-path: circle(120% at 50% 90%);
}

.header-icon {
  color: #FAFFAF;
  position: absolute;
  opacity: 0.5;
  -webkit-animation: rotate-right 55s infinite linear;
          animation: rotate-right 55s infinite linear;
}
.header-icon--one {
  top: 10vh;
  left: 20%;
  width: 80px;
  transform: rotate(0deg);
}
.header-icon--two {
  top: 65vh;
  right: 10vw;
  width: 80px;
  transform: rotate(0deg);
}
.header-icon--three {
  top: 59vh;
  left: 20vw;
  width: 80px;
  transform: rotate(90deg);
  -webkit-animation: rotate-left 55s infinite linear;
          animation: rotate-left 55s infinite linear;
}
.header-icon--html {
  bottom: 80px;
  left: 100px;
  width: 80px;
  -webkit-animation: pulse 5s infinite linear;
          animation: pulse 5s infinite linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}
.header-icon--css {
  bottom: 80px;
  left: 350px;
  width: 80px;
  -webkit-animation: pulse 5s infinite linear;
          animation: pulse 5s infinite linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.header-icon--js {
  bottom: 80px;
  right: 100px;
  width: 80px;
  -webkit-animation: pulse 5s infinite linear;
          animation: pulse 5s infinite linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
.header-icon--react {
  bottom: 80px;
  right: 300px;
  width: 80px;
  -webkit-animation: pulse 5s infinite linear;
          animation: pulse 5s infinite linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.about-me-icon {
  color: #FAFFAF;
  position: absolute;
  opacity: 0.5;
}
.about-me-icon--one {
  top: 5%;
  left: 47%;
  width: 80px;
  transform: rotate(0deg);
}

.projects-icon {
  color: #FAFFAF;
  position: absolute;
  opacity: 0.5;
}
.projects-icon--one {
  top: 4%;
  left: 47%;
  width: 80px;
  transform: rotate(0deg);
}

.lime-block {
  position: absolute;
  height: 40px;
  width: 50%;
  background-color: #95D1CC;
}
.lime-block-left {
  bottom: 0;
  left: -50px;
  transform: skew(45deg);
}
.lime-block-right {
  top: 0;
  right: -50px;
  transform: skew(-45deg);
  z-index: 1;
}

.scroll-tracker {
  position: fixed;
  inset: 0 0 auto;
  height: 0.5rem;
  background-color: #FAFFAF;
  z-index: 10;
  transform-origin: left;
  width: 0;
}

.bounce-top {
  display: block;
  -webkit-animation: bounce-top 2.5s infinite both;
          animation: bounce-top 2.5s infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-20 20:1:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
.hire-button {
  position: relative;
}

.hire-button::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid #FAFFAF;
  background-color: #FAFFAF;
  border-radius: 15px;
  opacity: 0;
  -webkit-animation: glow 3s infinite both;
          animation: glow 3s infinite both;
}

@-webkit-keyframes glow {
  from {
    transform: scale(0);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes glow {
  from {
    transform: scale(0);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes rotate-right {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-right {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-left {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotate-left {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}
@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #faffaf;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #faffaf;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}

.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #95D1CC;
  color: #ebecf2;
}

nav {
  position: fixed;
  top: 50px;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translateY(-50%);
  z-index: 100;
  transition: all 0.3s;
}
nav .navbar {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
  box-shadow: 0 0 20px #000;
}
nav .navbar a {
  opacity: 0.2;
  padding: 1.5em 0.7em;
  text-decoration: none;
  color: #FAFFAF;
  font-size: 2rem;
  text-shadow: 0 0 10px #000;
  transition: all 0.6s;
  display: none;
}
nav .navbar a:hover {
  transform: scale(0.8);
}
nav .navbar .show {
  display: block;
}

.hamburger {
  transform: scale(0.7);
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  margin: auto;
  padding: 1em;
  height: 100vh;
  text-align: center;
  background-image: url("../img/sun-tornado.webp");
  background-size: cover;
}
.header__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2em;
  order: 2;
}
.header__heading h1 {
  font-size: 1.5rem;
  font-weight: 200;
}
.header__heading h2 {
  font-size: 1.5rem;
  padding: 0.5em;
  font-weight: 200;
}
.header__color {
  color: #FAFFAF;
  font-weight: 700;
}
.header__text {
  font-family: "Atma", cursive;
  padding: 0.5em;
  font-size: 1.5rem;
}
.header__btn {
  display: none;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 2em;
  border: 1px solid #ebecf2;
  border-radius: 7px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}
.header__btn::before {
  background-color: #FAFFAF;
}
.header__arrow, .header__btn {
  color: #ebecf2;
}
.header__arrow {
  display: none;
  position: absolute;
  bottom: 30px;
  left: 50%;
  font-size: 3rem;
  transform: translate(-50%, -50%);
}
.header__photo {
  position: relative;
  padding: 2em;
  min-width: 150px;
  min-height: 150px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-image: url(../img/ja2.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  order: 1;
}
.header__photo-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0.5em 0.5em;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  -webkit-clip-path: circle(0 at 50% 90%);
          clip-path: circle(0 at 50% 90%);
  transition: -webkit-clip-path 0.8s;
  transition: clip-path 0.8s;
  transition: clip-path 0.8s, -webkit-clip-path 0.8s;
}
.header__photo-text h4 {
  margin-bottom: 0.5em;
  font-size: 1rem;
}
.header__photo-text h2 {
  margin-bottom: 0.3em;
  font-size: 1rem;
  color: #FAFFAF;
}
.header__photo-text p {
  padding: 1em 1.8em;
  line-height: 1.5em;
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
}
.header__media-boxes, .header__contact-boxes {
  order: 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  cursor: pointer;
  z-index: 1;
}
.header__media-boxes-link, .header__contact-boxes-link {
  padding: 0.5em 1em;
  text-decoration: none;
  color: #ebecf2;
  font-size: 2.5rem;
  transition: transform 0.4s, color 0.4ms;
}
.header__media-boxes-link:hover, .header__contact-boxes-link:hover {
  transform: scale(0.9);
  color: #FAFFAF;
}

.header-cartoon {
  display: none;
  position: absolute;
  bottom: -60px;
  left: 150px;
  z-index: 1;
}
.header-cartoon img {
  width: 120px;
}

.question {
  display: none;
}

.lime-block {
  display: none;
}

.about-me {
  position: relative;
  padding: 2em 5em 0;
}

.about-me .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-me .wrapper h2 {
  margin-top: 0.5em;
  margin-bottom: 2em;
}
.about-me .wrapper .hero-img-road {
  display: none;
  position: absolute;
  top: 90px;
  right: 0px;
  width: 300px;
  background-image: url(../img/droga.png);
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 95%;
  z-index: -1;
}
.about-me--first, .about-me--second {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
}
.about-me__box {
  position: relative;
  margin-bottom: 3em;
}
.about-me__box .fa-circle-xmark {
  position: absolute;
  padding: 10px;
  font-size: 3rem;
  cursor: pointer;
  transition: transform 0.4s, opacity 0.4s;
}
.about-me__box .fa-circle-xmark--one {
  top: 10px;
  left: 10px;
}
.about-me__box__active {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: all 1s;
}
.about-me__box__active--first {
  top: 0;
  left: 0;
  width: 100%;
  height: 140%;
}
.about-me__box-img img, .about-me__box-img--two img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  filter: drop-shadow(0px 0px 10px #000);
}
.about-me__cards, .about-me__cards--two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em;
}
.about-me__cards_card, .about-me__cards--two_card {
  min-width: 250px;
  padding: 1em;
  margin: 1em;
  border-radius: 25px;
  border: 2px solid #22577E;
  box-shadow: 0px 0px 5px #000;
  background-color: #5584AC;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #ebecf2;
  transition: transform 0.4s, background-color 0.4s, box-shadow 0.4s, opacity 1s, filter 1s;
  filter: blur(10px);
  opacity: 0;
  cursor: pointer;
}
.about-me__cards_card--active, .about-me__cards_card--active2, .about-me__cards--two_card--active, .about-me__cards--two_card--active2 {
  background-color: #FAFFAF;
  color: #22577E;
  box-shadow: 10px 10px 15px #000;
}
.about-me__cards_card--active, .about-me__cards--two_card--active {
  transform: scale(1.1);
}
.about-me__cards_card--active2, .about-me__cards--two_card--active2 {
  transform: scale(1.1);
}
.about-me__cards_card:hover, .about-me__cards--two_card:hover {
  background-color: #FAFFAF;
  color: #22577E;
}
.about-me__box--two {
  position: relative;
}
.about-me__box--two .fa-circle-xmark {
  position: absolute;
  padding: 10px;
  font-size: 3rem;
  cursor: pointer;
  transition: transform 0.4s, opacity 0.4s;
}
.about-me__box--two .fa-circle-xmark--two {
  top: 10px;
  left: 10px;
}
.about-me__box--two__active {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: all 1s;
}
.about-me__box--two__active--second {
  top: 0;
  left: 0;
  width: 100%;
}
.about-me__box .active-text, .about-me__box--two .active-text {
  font-size: 1.4rem;
  font-family: "Atma", cursive;
  padding: 2em;
  text-align: center;
}
.about-me__box .fa-user-graduate,
.about-me__box .fa-helmet-safety,
.about-me__box .fa-building,
.about-me__box .fa-arrow-up-right-dots,
.about-me__box .fa-user-tie,
.about-me__box .fa-face-smile, .about-me__box--two .fa-user-graduate,
.about-me__box--two .fa-helmet-safety,
.about-me__box--two .fa-building,
.about-me__box--two .fa-arrow-up-right-dots,
.about-me__box--two .fa-user-tie,
.about-me__box--two .fa-face-smile {
  font-size: 3rem;
}
.about-me__box .fa-circle-xmark:hover, .about-me__box--two .fa-circle-xmark:hover {
  transform: rotate(180deg);
}

.show-card {
  filter: blur(0);
  opacity: 1;
}

.projects {
  position: relative;
  background-color: #22577E;
}
.projects h2 {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.projects__hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/971.webp);
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 100%;
  z-index: 0;
}
.projects__hero-img-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.projects__hero-img-text {
  position: absolute;
  top: 25%;
  padding: 0 2em;
  text-align: center;
}
.projects__hero-img-text p {
  font-size: 1.2rem;
  line-height: 1.3;
}
.projects__hero-img2 {
  display: none;
  position: absolute;
  top: 400px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  height: calc(100% - 400px);
  width: 50%;
  z-index: 0;
}
.projects__box {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.projects .space {
  height: 450px;
}
.projects__info-box {
  position: relative;
  margin-bottom: 4em;
  width: 100%;
  min-width: 200px;
  height: 500px;
}
.projects__info-box a.hire-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5em 1.5em;
  border: 1px solid #ebecf2;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background: none;
  cursor: pointer;
  color: #ebecf2;
  letter-spacing: 1px;
  text-align: center;
  z-index: 1;
}
.projects__info-box a.hire-button::before {
  background-color: #FAFFAF;
}
.projects__info-box a.hire-button:hover {
  color: #22577E;
}
.projects__info-box__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  padding: 2em;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
}
.projects__info-box__text h3 {
  margin-bottom: 0em;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.projects__info-box__text .descr,
.projects__info-box__text .tech {
  font-size: 1.2rem;
  line-height: 1.5em;
}
.projects__info-box__text .tech {
  font-weight: 700;
  letter-spacing: 1px;
}
.projects__info-box .btn-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -moz-column-gap: 1em;
       column-gap: 1em;
}
.projects__info-box .btn-box button {
  padding: 1em 0;
  border-radius: 10px;
  background: none;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: background-color 0.4s, border 0.4s;
}
.projects__info-box .btn-box button a {
  padding: 1em 1em;
  text-decoration: none;
  color: #ebecf2;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}
.projects__info-box .btn-box button a i {
  margin-left: 0.5em;
}
.projects__info-box .btn-box button:hover {
  border: 1px solid transparent;
  background-color: #FAFFAF;
}
.projects__info-box .btn-box button:hover a {
  color: #22577E;
}
.projects__project-box {
  position: relative;
  margin-left: 0px;
  margin-bottom: 4em;
  width: 100%;
  min-width: 200px;
  height: 400px;
  perspective: 800px;
  cursor: pointer;
}
.projects__project-box__photo {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  transition: 0.8s;
  box-shadow: 0 0 15px #000;
}
.projects__project-box__photo.one {
  background-image: url("../img/projects/Psychoterapia_1.webp");
}
.projects__project-box__photo.two {
  background-image: url("../img/projects/Trainer_1.webp");
}
.projects__project-box__photo.three {
  background-image: url("../img/projects/react_1.webp");
}
.projects__project-box__photo.four {
  background-image: url("../img/projects/20945385.webp");
}
.projects__project-box__mobile {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.8s;
  opacity: 0;
  cursor: pointer;
  transform: rotatex(-180deg);
  box-shadow: 0 0 15px #000;
}
.projects__project-box__mobile.one {
  background-image: url("../img/projects/Psychoterapia_mobile.webp");
}
.projects__project-box__mobile.two {
  transform: rotateY(-180deg);
  background-image: url("../img/projects/Trainer_mobile.webp");
}
.projects__project-box__mobile.three {
  background-image: url("../img/projects/react_mobile.webp");
}
.projects__project-box__mobile.four {
  background-image: url("../img/projects/20945385.webp");
  transform: rotateY(-180deg);
}
.projects__project-box:hover .projects__project-box__mobile {
  transform: rotate(0);
  opacity: 1;
}
.projects__project-box:hover .projects__project-box__photo {
  transform: rotatex(-180deg);
  opacity: 0;
}
.projects__project-box:hover .projects__project-box__photo.two,
.projects__project-box:hover .projects__project-box__photo.four {
  transform: rotatey(-180deg);
}

.header-icon--html {
  bottom: 450px;
  left: 20%;
}
.header-icon--css {
  bottom: 200px;
  left: 20%;
}
.header-icon--js {
  bottom: 340px;
  right: 20%;
}
.header-icon--react {
  bottom: 80px;
  right: 20%;
}

.contact {
  display: flex;
  position: static;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 90;
}
.contact > p {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.contact__items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  width: 90%;
  height: 60%;
  font-size: 1.6rem;
}
.contact__items h2 {
  font-size: 1.8rem;
}
.contact__items i {
  color: #FAFFAF;
}
.contact__items .item-link {
  color: #5584AC;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.2em 2em 1em;
  text-decoration: none;
  text-align: center;
  transition: color 0.4s, transform 0.4s;
}
.contact__items .item-link:hover {
  color: #FAFFAF;
  transform: scale(0.95);
}

.porfolio__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  text-align: center;
  font-size: 1.5rem;
}
.porfolio__items i {
  color: #5584AC;
}

.porfolio__items a {
  text-decoration: none;
  color: #ebecf2;
}
.porfolio__items h2 {
  transition: transform 0.4s;
  cursor: pointer;
}
.porfolio__items h2:hover {
  transform: scale(0.95);
}

footer .content {
  background-color: #95D1CC;
  color: #22577E;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  padding: 2em;
}

.fa-circle-xmark {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.vertical {
  flex-direction: column;
}

.nav-top {
  top: 230px;
}

.first-box-option {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 375px) {
  .header {
    align-items: center;
    padding: 2em 2em 5em;
  }
  .header__heading {
    margin-top: 0em;
    margin-bottom: 2em;
  }
  .header__media-boxes-link, .header__contact-boxes-link {
    padding: 0em 1em;
    font-size: 2rem;
  }
  .header__btn {
    display: inline-block;
  }
}
@media (min-width: 576px) {
  .header {
    padding: 2em 2em 5em;
  }
  .header__heading h1 {
    font-size: 2.5rem;
  }
  .header__heading h2 {
    font-size: 2rem;
  }
  .header__text {
    padding: 0.5em;
    font-size: 1.5rem;
  }
  .header__btn {
    bottom: 4%;
  }
  .header__photo {
    min-width: 200px;
    min-height: 200px;
  }
  .header__media-boxes-link, .header__contact-boxes-link {
    padding: 1em 1em;
    font-size: 3.5rem;
  }
}
@media (min-width: 370px) and (orientation: landscape) {
  .header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .header__heading {
    margin-top: 3%;
    margin-left: 5%;
    max-width: 200px;
  }
  .header__photo {
    min-width: 200px;
    min-height: 200px;
    order: 2;
  }
  .header__media-boxes {
    width: 40%;
    justify-content: flex-start;
  }
  .header__contact-boxes {
    width: 40%;
    justify-content: flex-end;
  }
}
@media (min-width: 568px) and (orientation: landscape) {
  .header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .header__heading {
    margin-top: 5%;
    margin-left: 0%;
    max-width: 400px;
  }
  .header__photo {
    min-width: 200px;
    min-height: 200px;
    order: 2;
  }
  .header__media-boxes-link, .header__contact-boxes-link {
    font-size: 2.5rem;
  }
  .about-me__box__active--first {
    height: 120%;
  }
  .about-me__cards_card, .about-me__cards--two_card {
    width: 100%;
    max-width: 500px;
    padding: 2em 1em;
  }
  .about-me__cards_card:hover, .about-me__cards--two_card:hover {
    background-color: #FAFFAF;
    color: #22577E;
  }
  .about-me__box .active-text, .about-me__box--two .active-text {
    font-size: 1.8rem;
  }
  .about-me__box .fa-user-graduate,
.about-me__box .fa-helmet-safety,
.about-me__box .fa-building,
.about-me__box .fa-arrow-up-right-dots,
.about-me__box .fa-user-tie,
.about-me__box .fa-face-smile, .about-me__box--two .fa-user-graduate,
.about-me__box--two .fa-helmet-safety,
.about-me__box--two .fa-building,
.about-me__box--two .fa-arrow-up-right-dots,
.about-me__box--two .fa-user-tie,
.about-me__box--two .fa-face-smile {
    font-size: 5rem;
  }
  .vertical {
    flex-direction: row;
  }
  .nav-top {
    top: 60px;
  }
}
@media (min-width: 800px) and (orientation: landscape) {
  .header__heading {
    margin-left: 5%;
    max-width: 400px;
  }
  .header__photo {
    min-width: 200px;
    min-height: 280px;
  }
  .header__media-boxes-link, .header__contact-boxes-link {
    font-size: 3rem;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  .question {
    display: block;
  }
  .header {
    align-items: center;
    padding-bottom: 7em;
  }
  .header__heading {
    margin-left: 0%;
    max-width: 500px;
  }
  .header__heading h1 {
    font-size: 3rem;
  }
  .header__heading h2 {
    font-size: 2rem;
  }
  .header__text {
    font-size: 2rem;
  }
  .header__photo {
    min-width: 300px;
    min-height: 300px;
  }
  .header__photo-text h4 {
    font-size: 1.4rem;
  }
  .header__photo-text h2 {
    font-size: 1.5rem;
  }
  .header__photo-text p {
    font-size: 1.2rem;
  }
  .about-me__box__active--first {
    height: 120%;
  }
  .about-me__box-img img, .about-me__box-img--two img {
    max-width: 900px;
  }
  .about-me__cards_card, .about-me__cards--two_card {
    width: 100%;
    max-width: 500px;
    padding: 2em 1em;
  }
  .about-me__cards_card:hover, .about-me__cards--two_card:hover {
    background-color: #FAFFAF;
    color: #22577E;
  }
  .about-me__box .active-text, .about-me__box--two .active-text {
    font-size: 1.8rem;
  }
  .about-me__box .fa-user-graduate,
.about-me__box .fa-helmet-safety,
.about-me__box .fa-building,
.about-me__box .fa-arrow-up-right-dots,
.about-me__box .fa-user-tie,
.about-me__box .fa-face-smile, .about-me__box--two .fa-user-graduate,
.about-me__box--two .fa-helmet-safety,
.about-me__box--two .fa-building,
.about-me__box--two .fa-arrow-up-right-dots,
.about-me__box--two .fa-user-tie,
.about-me__box--two .fa-face-smile {
    font-size: 5rem;
  }
}
@media (min-width: 992px) and (orientation: portrait) {
  .header__btn {
    bottom: 30% !important;
  }
}
@media (min-width: 992px) and (min-height: 500px) {
  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 30px;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-attachment: fixed;
  }
  .header__heading {
    max-width: 600px;
    margin-top: 0;
    margin-left: 0;
    padding: 0 5em;
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .header__heading h1 {
    font-size: 3rem;
  }
  .header__heading h2 {
    font-size: 2rem;
  }
  .header__text {
    font-size: 2.5rem;
  }
  .header__btn {
    bottom: 15%;
    display: inline-block;
    font-size: 2rem;
  }
  .header__arrow {
    display: block;
    font-size: 3rem;
  }
  .header__photo {
    grid-column: 3/4;
    grid-row: 1/3;
    padding: 20px;
    width: 100%;
    height: 100%;
  }
  .header__photo-text h4 {
    font-size: 1.4rem;
  }
  .header__photo-text h2 {
    font-size: 1.8rem;
  }
  .header__photo-text p {
    padding: 1em 1.8em;
    font-size: 1.6rem;
  }
  .header__media-boxes, .header__contact-boxes {
    justify-content: center;
    width: 100%;
  }
  .header__media-boxes-link, .header__contact-boxes-link {
    font-size: 4.5rem;
  }
  .header__media-boxes {
    grid-column: 3/4;
    grid-row: 4/5;
  }
  .header__contact-boxes {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .question {
    display: block;
  }
  .lime-block {
    display: block;
  }
  .header-cartoon {
    display: block;
  }
  .projects__hero-img-text {
    top: 35%;
    padding: 0 5em;
    text-align: center;
  }
  .projects__hero-img-text p {
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .projects__info-box__text h3 {
    font-size: 1.8rem;
  }
  .projects__info-box__text .descr,
.projects__info-box__text .tech {
    font-size: 1.6rem;
    line-height: 1.5em;
  }
  .projects__info-box .btn-box button {
    padding: 2em 0;
  }
  .projects__info-box .btn-box button a {
    padding: 2em 2em;
    font-size: 1.4rem;
  }
  .contact > p {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1em;
  }
  .contact__items h2 {
    font-size: 2.5rem;
  }
  .contact__items .item-link {
    font-size: 2.3rem;
  }
  .porfolio__items {
    font-size: 2rem;
  }
  .porfolio__items i {
    color: #5584AC;
  }
}
@media (min-width: 1300px) and (min-height: 500px) {
  nav {
    top: 7%;
    left: 3%;
    transition: none;
  }
  nav .navbar a {
    padding: 1em 0.7em;
    font-size: 4rem;
  }
  .hamburger {
    transform: scale(1);
  }
  .header__heading {
    margin-top: 0;
    max-width: 100%;
  }
  .header__heading h1 {
    font-size: 5rem;
  }
  .header__heading h2 {
    font-size: 3rem;
  }
  .header__text {
    font-size: 3rem;
  }
  .header__arrow {
    font-size: 5rem;
  }
  .header__photo {
    grid-row: 1/4;
  }
  .header__photo-text {
    padding: 4em 3em;
  }
  .header__media-boxes {
    justify-content: space-evenly;
  }
  .header__contact-boxes {
    justify-content: center;
  }
  .about-me .wrapper .hero-img-road {
    display: block;
  }
  .about-me--first, .about-me--second {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 100px;
  }
  .about-me__box {
    grid-row: 1/4;
    grid-column: 3/5;
  }
  .about-me__box__active {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: all 1s;
  }
  .about-me__cards, .about-me__cards--two {
    grid-row: 1/4;
    grid-column: 1/3;
    align-items: flex-start;
  }
  .about-me__cards_card, .about-me__cards--two_card {
    width: 40%;
    padding: 2em;
  }
  .about-me__cards_card--active, .about-me__cards--two_card--active {
    transform: scale(1.1) translateX(280px);
  }
  .about-me__cards_card--active2, .about-me__cards--two_card--active2 {
    transform: scale(1.1) translateX(-280px);
  }
  .about-me__box--two {
    grid-row: 1/4;
    grid-column: 1/3;
  }
  .about-me__cards--two {
    grid-column: 3/5;
  }
  .about-me__cards_card--one, .about-me__cards_card--two, .about-me__cards_card--three {
    align-self: end;
  }
  .about-me__box .active-text, .about-me__box--two .active-text {
    font-size: 2rem;
  }
  .projects__hero-img {
    background-attachment: fixed;
    background-size: contain;
  }
  .projects__hero-img-text {
    top: 40%;
    padding: 0 4em;
  }
  .projects__hero-img-text p {
    font-size: 2rem;
    line-height: 1.5;
  }
  .projects__hero-img2 {
    display: block;
  }
  .projects__box {
    margin-left: 5em;
    padding: 1em 3em;
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr) 200px;
  }
  .projects__info-box--one {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .projects__project-box--one {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .projects__info-box--two {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .projects__project-box--two {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .projects__info-box--three {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .projects__project-box--three {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  .projects__info-box--four {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .projects__project-box--four {
    grid-row: 4/5;
    grid-column: 2/3;
  }
  .projects__info-box--five {
    grid-row: 5/6;
    grid-column: 1/3;
  }
  .projects__info-box {
    height: 100%;
    margin-bottom: 0;
  }
  .projects__info-box a.hire-button {
    font-size: 2rem;
  }
  .projects__info-box__text h3 {
    font-size: 2rem;
  }
  .projects__info-box__text .descr,
.projects__info-box__text .tech {
    font-size: 1.5rem;
  }
  .projects__info-box .btn-box button {
    padding: 1.5em 0;
  }
  .projects__info-box .btn-box button a {
    padding: 1.5em 2.5em;
    font-size: 1.5rem;
  }
  .projects__project-box {
    margin-left: 60px;
    margin-bottom: 0;
    width: 600px;
  }
  .header-icon--html {
    bottom: 80px;
    left: 100px;
  }
  .header-icon--css {
    bottom: 80px;
    left: 350px;
  }
  .header-icon--js {
    bottom: 80px;
    right: 100px;
  }
  .header-icon--react {
    bottom: 80px;
    right: 300px;
  }
  .contact {
    justify-content: center;
  }
  .contact > p {
    font-size: 2rem;
  }
  .contact__items {
    padding: 2em;
    width: 50%;
    font-size: 1.6rem;
  }
  .contact__items .item-link {
    font-size: 2rem;
    padding: 1em 5em;
  }
  .porfolio__items {
    width: 70%;
    font-size: 1.8rem;
  }
  .vertical {
    flex-direction: column;
  }
  .nav-top {
    top: 320px;
  }
  .visible {
    opacity: 1;
  }
  footer .content {
    font-size: 2rem;
  }
}/*# sourceMappingURL=style.css.map */