@use './colors' as *;

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}
.wrapper-odd {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
	background-color: $main-color;
}

.section-heading {
	// width: 100%;
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	// margin-top: 1em;
	margin-bottom: 1em;
	color: $main-color-2;
	border-bottom: 2px solid $main-color-4;
	z-index: 1;
}

.btn-special-animation {
	position: relative;
	transition: background-color 0.3s;
	overflow: hidden;
	z-index: 0;

	&::before {
		display: block;
		content: '';
		position: absolute;
		top: -2px;
		left: -2px;
		width: 110%;
		height: 110%;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.5s;
		z-index: -1;
	}

	&:hover::before {
		transform: scaleX(1);
		transform-origin: left;
	}
	&:hover {
		color: $main-color;
	}
}

.question {
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 10px;
	background: none;
	border: none;
	color: $white-color;
	font-size: 28px;
	text-shadow: 2px 2px 5px rgb(0, 0, 0);
	cursor: pointer;
	z-index: 10;
}

.question:hover ~ .header__photo-text {
	clip-path: circle(120% at 50% 90%);
}
.header-icon {
	color: $main-color-4;
	position: absolute;
	opacity: 0.5;
	animation: rotate-right 55s infinite linear;
	&--one {
		top: 10vh;
		left: 47%;
		width: 80px;
		transform: rotate(0deg);
	}
	&--two {
		top: 65vh;
		right: 10vw;
		width: 80px;
		transform: rotate(0deg);
	}
	&--three {
		top: 59vh;
		left: 20vw;
		width: 80px;
		transform: rotate(90deg);
		animation: rotate-left 55s infinite linear; 		
	}
	&--html {
		bottom: 80px;
		left: 100px;
		width: 80px;
		animation: pulse 5s infinite linear;
		animation-direction: alternate;
		animation-delay: 2500ms;
	}
	&--css {
		bottom: 80px;
		left: 350px;
		width: 80px;
		animation: pulse 5s infinite linear;
		animation-direction: alternate;
		animation-delay: 400ms;
	}
	&--js {
		bottom: 80px;
		right: 100px;
		width: 80px;
		animation: pulse 5s infinite linear;
		animation-direction: alternate;
		animation-delay: 2000ms;
	}
	&--react {
		bottom: 80px;
		right: 300px;
		width: 80px;
		animation: pulse 5s infinite linear;
		animation-direction: alternate;
		animation-delay: 200ms;
	}
}
.about-me-icon {
	color: $main-color-4;
	position: absolute;
	opacity: 0.5;
	&--one {
		top: 5%;
		left: 47%;
		width: 80px;
		transform: rotate(0deg);
	}
}
.projects-icon {
	color: $main-color-4;
	position: absolute;
	opacity: 0.5;
	&--one {
		top: 4%;
		left: 47%;
		width: 80px;
		transform: rotate(0deg);
	}
}

.lime-block {
	position: absolute;
	height: 40px;
	width: 50%;
	background-color: $main-color-3;

	&-left {
		bottom: 0;
		left: -50px;
		transform: skew(45deg);
	}
	&-right {
		top: 0;
		right: -50px;
		transform: skew(-45deg);
		z-index: 1;
	}
}

.scroll-tracker {
	position: fixed;
	inset: 0 0 auto;
	height: 0.5rem;
	background-color: $main-color-4;
	z-index: 10;
	transform-origin: left;
}
